<h1>Facture en anomalie</h1> 

<p>
    <%= image_tag @facture.scan, width: "100px" %>
</p>

<p>
    Merci de valider ou de rejeter en cliquant sur ce lien
</p>
<p>
    <%= link_to "Valider", facture_validation_url(@facture) %>
</p>

<p>Thank you and have a great day!</p>
