<h1>Facture en anomalie</h1> 

<p>
    <%= link_to(image_tag(@facture.scan.preview(resize: "200x300>")), facture_url(@facture, cible_slug: @cible.slug)) %>
</p>

<p>
    Merci de bien vouloir cliquer sur la facture ci-dessus, afin de la valider ou de la rejeter. 
</p>

<p>
    Merci
</p>
