<h1>Facture en anomalie</h1> 

<p>
    <%= link_to(image_tag(@facture.scan.preview(resize: "200x300>")), facture_url(@facture, email: @cible.email)) %>
</p>

<p>
    Merci de cliquer sur le lien ci-dessous afin de voir la facture en anomalie pour la valider ou la rejeter. 
</p>

<p>
    <%= link_to "Voir la facture en anomalie", facture_url(@facture, email: @cible.email) %>
</p>

<p>Merci</p>
